		<div id="sponsors">
		<h6>Sponsored by:</h6>
			<a href=""><img src="/img/sponsors/cp-bw.gif"></a>
			<a href=""><img src="/img/sponsors/ic-bw.gif"></a>
			<a href=""><img src="/img/sponsors/nyfa.gif"></a>
			<a href=""><img src="/img/sponsors/ge-bw.gif"></a>
			<a href=""><img src="/img/sponsors/his-bw.gif"></a>
		</div>
		<div id="socials">
		<h6>Follow us:</h6>
			<a href=""><i class="fa fa-facebook-square fa-2x"></i></a>
			<a href=""><i class="fa fa-google-plus-square fa-2x"></i></a>
			<a href=""><i class="fa fa-twitter-square fa-2x"></i></a>
			<a href=""><i class="fa fa-instagram fa-2x"></i></a>
			<a href=""><i class="fa fa-vimeo-square fa-2x"></i></a>
			<a href=""><i class="fa fa-youtube-square fa-2x"></i></a>
		</div>
		<nav id="bottomNav">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="">About</a></li>
				<li><a href="schedule.html">Schedule</a></li>
				<li><a href="">Participants</a></li>
				<li><a href="">Contact</a></li>
			</ul>
		</nav>