<nav id="topNav">
	<div id="menu">MENU <span>&#9776;</span></div>
</nav>
<nav id="dropDownNav">
	<ul id="toggleNav">
		<li><a href="/">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="/schedule">Schedule</a></li>
		<li><a href="/staff">Participants</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</nav>