<div id="fixedTopNav">
<nav id="topNavMobiles">
	<div id="menu"><span>&#9776;</span> MENU </div>
</nav>
<nav id="topNavDesktops">
	<div id="leftNav">
		<ul id="">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/schedule">Events</a></li>
			<!--li><a href="/staff">Participate</a></li-->
			<li><a href="/participate">Participate</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
	<div id="rightNav">
		<a href=""><i class="fa fa-facebook-square fa-2x"></i></a>
		<a href=""><i class="fa fa-google-plus-square fa-2x"></i></a>
		<a href=""><i class="fa fa-twitter-square fa-2x"></i></a>
		<a href=""><i class="fa fa-instagram fa-2x"></i></a>
		<a href=""><i class="fa fa-vimeo-square fa-2x"></i></a>
		<a href=""><i class="fa fa-youtube-square fa-2x"></i></a>
	</div>
</nav>
</div>



<!--nav id="dropDownNav">	<nav id="phoneNav">
		<div id="menu">MENU <span>&#9776;</span></div>
	</nav>
	<ul id="toggleNav">
		<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/schedule">Events</a></li>
			<li><a href="/participate">Participate</a></li>
			<li><a href="/contact">Contact</a></li>
	</ul>
</nav-->